@charset "UTF-8";
/**
 * Description
 * @authors Your Name (you@example.org)
 * @date    2021-03-16 12:08:42
 * @version 1.0.0
 */

 body{
    margin: 0;
    padding:0;

    display:flex;
    flex-direction: column;
 }

 #head > button{

    flex-grow: 1;
 }

 #head > p{

    flex-grow: 2;
 }


#head{
    
    display:flex;
    flex-direction: row;
}

#date{
    text-align: center;
}

.promptWindow{
    display:flex;
    flex-direction: row;
    min-height : 300px;
    min-width : 300px;
    background-color : gray;
    position : absolute;
    align-self: center;
}

.inputOptions{
    display: none;
}

.show{
    display:block;
}

#middle{
    display:flex;
    flex-direction: row;
    min-height:90vh;
}

.transaction{
    /*display:flex;
    flex-direction: row;*/
    
    height: 30px;
    width: 100%;
}
.transaction p{
    margin:0;
    padding:0;
    display: inline-block;
    padding-left: 10px;

    
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.cat{
    width: 10%;
}

.desc{
    width:20%;
    text-align: center;
}

p.amount{
    width:10%;
    text-align: end;
    padding-right: 30px;
}

.tranData{
    display:inline-block;
    width:90%;
    height: 100%;
    line-height: 30px;
}


.delButton{
    height:100%;
    width:10%;
    position:relative;
    bottom: 11px;
}



#middle > .side{
    flex-grow: 1;
}

#middle > #content{
    flex-grow:1;
    width:26.1vw;
    background-color: rgb(190, 182, 182);
}

#addTran{
    width: 100%;
    height:60px;
}
