@charset "UTF-8";
/**
 * Description
 * @authors Alen VeseliÄ ()
 * @date    2021-03-16 12:08:42
 * @version 1.0.0
 */



 body{

    font-family: 'Syne Mono', monospace;

    margin: 0;
    padding:0;

    color: black;
    background-color: rgb(163, 118, 33);
    background-image: url("../assets/tableWoodHD.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    

    display:flex;
    flex-direction: column;

    
 }


 h1{
     text-align: center;
     line-height: 30px;

    
 }

h1, p{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}


/*
Remove all button styling
*/
 button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#dateForward img{

    transform: scaleX(-1);
    
}
.navArrow{

}

.navArrow img{
    height: 10vh;
    width:4vw;
    
}

button:disabled img{

    filter:blur(5px);

}

 #head > button{

    flex-grow: 1;
 }

 #head > #date{

    flex-grow: 2.57;

 }


#head{
    
    display:flex;
    flex-direction: row;
    background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.507));
}

#date{
    display:inline-block;
    line-height: 55px;
    text-align: center;
    
}

.promptWindow{
    display:flex;
    flex-direction: row;
    min-height : 300px;
    min-width : 300px;
    background-color : gray;
    position : absolute;
    align-self: center;
}

.inputOptions{
    display: none;
}

.show{
    display:block;
}

#middle{
    display:flex;
    flex-direction: row;
    min-height:90vh;
}

.transaction{
    /*display:flex;
    flex-direction: row;*/
    
    padding: 5px;
    display:flex;
    height: 30px;
    /*width: 98.5%;*/

    border-bottom: solid 2px white ;
    margin-bottom: 5px;

    
}
.transaction p{
    margin:0;
    padding:0;


    padding-left: 10px;

    line-height: 30px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;

}

.cat{
    width: 20%;
}

.desc{
    width:50%;
    text-align: center;
}

p.amount{
    width:20%;
    text-align: end;
    padding-right: 10px;
}

.tranInfo{
    display:flex;
    border-bottom: solid 2px gray ;
}
.tranInfo p{
    padding-left: 10px;
}

.tranData{
    display:flex;
    flex-direction: row;

    
    width:90%;
    height: 100%;

    
}


.delButton{
    height:100%;
    width:10%;
    
    /*position:relative;
    bottom: 11px;*/
}



#middle > .side{
    flex-grow: 1;
}

#middle > #content{
    flex-grow:1;
    width:26.1vw;
    padding: 0 4%;
    background-color: rgb(255, 255, 255);
    background-image: url("../assets/crumpledPaperHD.jpg");
    background-size: cover;
    
}

#addTran{
    width: 100%;
    height:60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
