@charset "UTF-8";
/**
 * Description
 * @authors Alen VeseliÄ ()
 * @date    2021-03-16 12:08:42
 * @version 1.0.0
 */

 body{
    margin: 0;
    padding:0;

    color: white;
    background-color: black;

    display:flex;
    flex-direction: column;
 }

 h1{
     text-align: center;
 }
/*
Remove all button styling
*/
 button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


 #head > button{

    flex-grow: 1;
 }

 #head > p{

    flex-grow: 2;
 }


#head{
    
    display:flex;
    flex-direction: row;
}

#date{
    text-align: center;
}

.promptWindow{
    display:flex;
    flex-direction: row;
    min-height : 300px;
    min-width : 300px;
    background-color : gray;
    position : absolute;
    align-self: center;
}

.inputOptions{
    display: none;
}

.show{
    display:block;
}

#middle{
    display:flex;
    flex-direction: row;
    min-height:90vh;
}

.transaction{
    /*display:flex;
    flex-direction: row;*/
    
    padding: 5px;
    display:flex;
    height: 30px;
    width: 98.5%;

    border-bottom: solid 2px white ;
    margin-bottom: 5px;

    
}
.transaction p{
    margin:0;
    padding:0;


    padding-left: 10px;

    line-height: 30px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;

}

.cat{
    width: 20%;
}

.desc{
    width:50%;
    text-align: center;
}

p.amount{
    width:20%;
    text-align: end;
    padding-right: 10px;
}

.tranInfo{
    border-bottom: solid 2px white ;
    margin-bottom: 2px;
}

.tranInfo p{
    display:inline-block;
    padding: 5px;
    
}

.tranData{
    display:flex;
    flex-direction: row;

    
    width:90%;
    height: 100%;

    
}


.delButton{
    height:100%;
    width:10%;
    
    /*position:relative;
    bottom: 11px;*/
}



#middle > .side{
    flex-grow: 1;
}

#middle > #content{
    flex-grow:1;
    width:26.1vw;
    background-color: rgb(190, 182, 182);
}

#addTran{
    width: 100%;
    height:60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
