@charset "UTF-8";
/**
 * Description
 * @authors Your Name (you@example.org)
 * @date    2021-03-16 12:08:42
 * @version 1.0.0
 */

 body{
     display:flex;
     flex-direction: column;
 }

 #head > button{
     flex-grow: 1;
 }

 #head > p{
     flex-grow: 2;
 }


#head{
    display:flex;
    flex-direction: row;
}

.promptWindow{
    display:flex;
    flex-direction: row;
    min-height : 300px;
    min-width : 300px;
    background-color : gray;
    position : absolute;
    align-self: center;
}

.inputOptions{
    display: none;
}

.show{
    display:block;
}

#middle{
    display:flex;
    flex-direction: row;
}

.transaction{
    display:flex;
    flex-direction: row;
    line-height: 30px;
    height: 30px;
    width: 100%;
}
.transaction p{
    margin:0;
    padding-left: 10px;
}

.cat{
    flex-grow: 2;
}

.desc{
    flex-grow: 10; 
}

.amount{
    flex-grow: 1;
    text-align: end;
}



#middle > .side{
    flex-grow: 1.125;
}

#middle > #content{
    flex-grow:2;
    background-color: rgb(190, 182, 182);
}

