@charset "UTF-8";
/**
 * Description
 * @authors Alen VeseliÄ ()
 * @date    2021-03-16 12:08:42
 * @version 1.0.0
 */

/*
body - sets the main font "Syne Mono", a fine font to match the receipt aesthetic
    wipes all margins and padding
    sets base background color and the image that would later cover it
    sets display type and flex direction to column
*/
body{

    margin: 0;
    padding:0;

    font-family: 'Syne Mono', monospace;
    color: black;

    background-color: rgb(163, 118, 33);
    background-image: url("../assets/tableWoodHD.jpg");
    background-size: cover;
    

    display:flex;
    flex-direction: column;

 }



 h1{

     text-align: center;
     line-height: 30px;

 }

/*
 h1, p - makes text get cut off and signals the cut of thext with an ellipsis, ultimately making sure 
 that the text in these tags doesn't overflow out of it's container elements
*/

h1, p{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}


/*
Removes all button styling, leaving only text that functions as a button
TODO: Custom button styling
*/
 button, input[type="submit"], input[type="reset"]{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

/* Inverts the nav arrow image by the X axis */
#dateForward img{

    transform: scaleX(-1);
    
}

/* Placeholder classes for future customization and testing */

#dateForward{

    
}

#dateBack{
    

    
}

/* My first test at making a website more responsive with a media query.
    This makes the nav arrow buttons cover the content's sides and gives them 
    a gradient in the direction they're pointing. In order to give the effect of
    there being something there to go to. */

@media (max-width: 1000px){
    .navArrow{
        position:absolute;
        height: 100vh;
        width: 20vw;
    }

    #dateForward{
        right:0px;

        background:
        linear-gradient(to right,rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.815));
    }

    #dateBack{
        background:
        linear-gradient(to left,rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.815));
    }
}

/*TODO: Replace min height and min width values with relative units*/
.navArrow img{
    min-height:60px;
    width:4vw;
    min-width:40px;
    
}

/* if there is an image inside of a disabled button, it gets blurred to 
    show the user that it's not in use */

button:disabled img{

    filter:blur(5px);

}

 #head > button{

    flex-grow: 1;
 }

 #head > #date{

    flex-grow: 2.57;

 }


#head{
    
    display:flex;
    flex-direction: row;

    background:
        linear-gradient(to top,rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.815));

}

    
   



#date{
    display:inline-block;
    line-height: 55px;
    text-align: center;

    font-size: 4vh;

    
    
}

/*
    Styles the javascript generated prompt window, the user uses to create transactions
    and configure certain aspects of their database.

    TODO: set the window's min size parameters to relative units
    TODO: get a sticky note background image, the current one was put in to see what it would look like
    TODO: Style each input type used
*/
.promptWindow{
    display:flex;
    flex-direction: row;
    min-height : 300px;
    min-width : 300px;
    background-color : gray;
    position : absolute;
    align-self: center;

    background-image: url("../assets/crumpledPaperHD.jpg");
    background-size: cover;

    padding: 1%;
}

/* The next selectors mess with layout so everything is in proper place */

.inputMain{
    position:relative;
}

.promptTitle{
    text-align: center;
}

.inputSection{
    display:flex;
}

.inputSection input, select{
    
    max-height: 20px; /* TODO: Change to relative units */
}

.inputSection select{
    margin-top: 5%;
}

.inputSection input{
    margin-top: 4%;
}

/*
    Positions the buttons of the prompt window's basic input view
    
    TODO: Style buttons
    */

.configButton{
    position: absolute;
    right: 0px;
    top:0px;

}

.backButton{
    position: absolute;
    bottom: 0px;
    left: 0px;

    width:50%;
}

.addButton{
    position: absolute;
    bottom: 0px;
    right:0px;

    width:50%;
}

/*
    Window prompt configuration options extension layout styling

    TODO: Style config area
    TODO: Get a matching background image to basic input, but make it divide decisively
*/
.inputOptions{
    display: none;
    

    padding: 1%;
}

.inputOptions input{
    margin-top: 3.25%;
}

.inputOptions input[type = color]{
    margin-top: 3.5%;
}

.catConfig{
    position:relative;
}

/*TODO: Style category removal and addition buttons*/

.addCat{
    position: absolute;
    left: 0px;

    width: 50%;
}

.remCat{
    position: absolute;
    right:0px;

    width: 50%;
}


.show{
    display:block;
}

#middle{
    display:flex;
    flex-direction: row;
    min-height:93.2vh;
}

.transaction{
    /*display:flex;
    flex-direction: row;*/
    
    padding: 5px;
    display:flex;
    height: 3%;
    min-height: 30px;
    /*width: 98.5%;*/

    border-bottom: solid 2px white ;
    margin-bottom: 5px;

    
}

/*
    Transaction addition button positioning
*/

#addTran{
    width: 100%;
    height: 6%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#addTran img{
    width: 5vw;
    min-width: 20px;
    height:9vh;
    min-height: 20px;
}

/*  
    Transaction layout positioning and text overflow prevention and alignment
*/
.transaction p{
    margin:0;
    padding:0;


    padding-left: 10px;

    line-height: 30px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;

}

.cat{
    width: 20%;
}

.desc{
    width:50%;
    text-align: center;
}

p.amount{
    width:20%;
    text-align: end;
    padding-right: 10px;
}

.tranInfo{
    display:flex;
    border-bottom: solid 2px gray ;
}
.tranInfo p{
    padding-left: 10px;
}

/*  
    Transaction data positioning
*/

.tranData{
    display:flex;
    flex-direction: row;

    
    width:90%;
    height: 100%;

    
}

/*
    Transaction delete button size
    TODO: make size relative
    TODO: style delete button
*/
.delButton{
    height:100%;
    width:10%;
    
    
}

/*
    Middle area layout
*/

#middle > .side{
    flex-grow: 1;
}

#middle > #content{
    position: relative; 

    flex-grow:1;
    width:26.1vw;
    padding: 0 4%;
    background-color: rgb(255, 255, 255);
    background-image: url("../assets/crumpledPaperHD.jpg");
    background-size: cover;
    
}

/*
    Current day statistics positioning, below everything
*/

.dayStats{

    position: absolute;
    display:flex;
    bottom: 0px;

}

/*
    TODO: Footer
*/
