@charset "UTF-8";
/**
 * Description
 * @authors Alen VeseliÄ ()
 * @date    2021-03-16 12:08:42
 * @version 1.0.0
 */



body{

    font-family: 'Syne Mono', monospace;

    margin: 0;
    padding:0;

    color: black;
    background-color: rgb(163, 118, 33);
    background-image: url("../assets/tableWoodHD.jpg");
    background-size: cover;
    

    display:flex;
    flex-direction: column;

    
 }


 h1{
     text-align: center;
     line-height: 30px;

    
 }

h1, p{
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}


/*
Remove all button styling
*/
 button, input[type="submit"], input[type="reset"]{
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

#dateForward img{

    transform: scaleX(-1);
    
}

#dateForward{

    
}

#dateBack{
    

    
}

@media (max-width: 1000px){
    .navArrow{
        position:absolute;
        height: 100vh;
        width: 20vw;
    }

    #dateForward{
        right:0px;

        background:
        linear-gradient(to right,rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.815));
    }

    #dateBack{
        background:
        linear-gradient(to left,rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0.815));
    }
}

.navArrow img{
    min-height:60px;
    width:4vw;
    min-width:40px;
    
}

button:disabled img{

    filter:blur(5px);

}

 #head > button{

    flex-grow: 1;
 }

 #head > #date{

    flex-grow: 2.57;

 }


#head{
    
    display:flex;
    flex-direction: row;

    background:
        linear-gradient(to top,rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.815));

    /*background-color: rgb(180, 176, 176);
    border: solid black 5px;
    border-top:none;*/


}

    
   



#date{
    display:inline-block;
    line-height: 55px;
    text-align: center;

    font-size: 4vh;

    
    
}

.promptWindow{
    display:flex;
    flex-direction: row;
    min-height : 300px;
    min-width : 300px;
    background-color : gray;
    position : absolute;
    align-self: center;

    background-image: url("../assets/crumpledPaperHD.jpg");
    background-size: cover;

    padding: 1%;
}

.inputMain{
    position:relative;
}

.promptTitle{
    text-align: center;
}

.inputSection{
    display:flex;
}

.inputSection input, select{
    
    max-height: 20px;
}

.inputSection select{
    margin-top: 5%;
}

.inputSection input{
    margin-top: 4%;
}

.configButton{
    position: absolute;
    right: 0px;
    top:0px;

}

.backButton{
    position: absolute;
    bottom: 0px;
    left: 0px;

    width:50%;
}

.addButton{
    position: absolute;
    bottom: 0px;
    right:0px;

    width:50%;
}


.inputOptions{
    display: none;
    

    padding: 1%;
}

.inputOptions input{
    margin-top: 3.25%;
}

.inputOptions input[type = color]{
    margin-top: 3.5%;
}

.catConfig{
    position:relative;
}

.addCat{
    position: absolute;
    left: 0px;

    width: 50%;
}

.remCat{
    position: absolute;
    right:0px;

    width: 50%;
}


.show{
    display:block;
}

#middle{
    display:flex;
    flex-direction: row;
    min-height:93.2vh;
}

.transaction{
    /*display:flex;
    flex-direction: row;*/
    
    padding: 5px;
    display:flex;
    height: 3%;
    min-height: 30px;
    /*width: 98.5%;*/

    border-bottom: solid 2px white ;
    margin-bottom: 5px;

    
}

#addTran{
    width: 100%;
    height: 6%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#addTran img{
    width: 5vw;
    min-width: 20px;
    height:9vh;
    min-height: 20px;
}

.transaction p{
    margin:0;
    padding:0;


    padding-left: 10px;

    line-height: 30px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;

}

.cat{
    width: 20%;
}

.desc{
    width:50%;
    text-align: center;
}

p.amount{
    width:20%;
    text-align: end;
    padding-right: 10px;
}

.tranInfo{
    display:flex;
    border-bottom: solid 2px gray ;
}
.tranInfo p{
    padding-left: 10px;
}

.tranData{
    display:flex;
    flex-direction: row;

    
    width:90%;
    height: 100%;

    
}


.delButton{
    height:100%;
    width:10%;
    
    /*position:relative;
    bottom: 11px;*/
}



#middle > .side{
    flex-grow: 1;
}

#middle > #content{
    position: relative; 

    flex-grow:1;
    width:26.1vw;
    padding: 0 4%;
    background-color: rgb(255, 255, 255);
    background-image: url("../assets/crumpledPaperHD.jpg");
    background-size: cover;
    
}

.dayStats{

    position: absolute;
    display:flex;
    bottom: 0px;

}


